/* CSS declarations go here */
body {
    font-family: 'Helvetica Neue', Arial, verdana;
    padding: 80px;
}

h1, h2 {
    font-weight: 200;
}

h2 {
    margin-top: 80px;
}

.dapp-select-gas-price {
    width: 200px;
}